body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}
.header{
    background-color: #F8D0B7 ;
    color: grey;
    display: flex;
    justify-content: space-between;
    height: 500px;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}
.header a{
    color: grey;
    text-decoration: none;
    justify-content: center;
    height: inherit;

}

h1,
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.hero{
    background-color: #FD8479;
    color: white;
    height: 500px;
}
.descripcion{
display: block;
float: none;
justify-content: left;
}
.final{
    background-color: #F1D5CB;
    color: white;
    height: 500px;
}